/*Style for the header*/

.header-wrapper{
  color: white;
  background-color: black;
  width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 7fr 7fr;
  grid-column-gap: 20px;
  align-items: center;
}

.dragon-image{
  height: 80%;
  margin-left: 20px;
  justify-self: end;
}

.header-title{
  justify-self: start;
}

.header-buttons{
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.header-buttons a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  background-color: #c61f1f;
  padding: 10px 15px;
  max-width: 70px;
}

/* .header-wrapper a:hover{
  background-color: #c61f1f;
} */


/* Styling Footer */

.footer-wrapper{
  background-color: black;
  color: white;
  height: 10vh;
}

.credit-dragon{
  font-size: 12px;
  padding: 10px;
}

/*Styling login page */

.login-page{
  min-height: 75vh;
}

/*Styling signup page */

.sign-up-page{
  min-height: 75vh;
}

/* Styling Event List*/

.event-list-wrapper{
  min-height: 75vh;
  background-image: url('./lib/images/paper.jpg');
  background-size: cover;
}

.event-info{
  width: 70%;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: rgba(252, 252, 252, 0.7)
  /* background-image: url('./lib/images/paper.jpg');
  background-size: cover; */
}

.event-image{
  max-height: 150px;
  max-width: 250px;
}
