
.user-page-wrapper, .login-page, .sign-up-page, 
#eventList, #eventDetails{
  min-height: 75vh;
}

/*Styling for the navbar*/

.navbar{
  min-height: 15vh;
}

.dragon-image{
  max-height: 80px;
}

/* Styling for the footer*/

footer{
  height: 10vh;

  p{
    font-size: 12px;
  }
}

.App{
  background-image: url('./lib/images/paper.jpg');
}



